<div class="container">
  <div>
    <h1>{{isEditing ? "Editar" : "Cadastrar"}} Gerente</h1>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Nome completo</mat-label>
      <input matInput type="text" placeholder="Insira seu nome completo" [(ngModel)]="nome" />
    </mat-form-field>

    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Insira seu email" [(ngModel)]="email" />
    </mat-form-field>

    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>CPF</mat-label>
      <input [(ngModel)]="cpf" [imask]="cpfMask" [unmask]="true" matInput type="text" placeholder="Insira seu cpf" />
    </mat-form-field>

    <button mat-button class="btn btn-info fw-normal" (click)="salvarGerente()">
      {{isEditing ? "Editar" : "Cadastrar"}}
    </button>
  </div>
</div>