.table-responsive {
    overflow-x: auto;
  }
  
  td.mat-cell {
    padding: 25px;
  }
  
  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding: 20px;
  }
  
  th.mat-header-cell {
    font-size: 30px;
    padding: 20px;
  }
  
  .mat-header-cell {
    font-size: 10px;
    color: blue;
  }
  
  .gerentelist{
    font-size: 30px;
    justify-content: center;
  }

  .full {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    padding: 40px;
  }
  