<!-- Cards -->
<div class="full" fxLayout="row wrap" fxLayoutGap="30px grid">
  <div fxFlex.md="20%" fxFlex.lg="60%" fxFlex.xl="10%" fxFlex.sm="10%">
    >
    <mat-card class="overflow-hidden">
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium mb-30">LUDIMILLA KRAUTZUK</p>
          <strong class="cpf">CPF:</strong>
          <p class="op-7 mb-30">0000000000</p>
          <strong class="email">EMAIL:</strong>
          <p class="op-7 mb-30">Ludimilla@gmail.com</p>
          <div class="botaos mt-20">
            <button mat-button class="btn-info fw-normal mt-4">Update</button>
            <button mat-button class="btn-danger fw-normal mt-4">Delete</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
