<div class="container">
  <div>
    <h1>BanTADS</h1>
    <p>Bem vindo! Faça seu login</p>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Insira seu email" [(ngModel)]="email" />
    </mat-form-field>

    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" placeholder="Insira sua senha" [(ngModel)]="password">
    </mat-form-field>

    <button mat-flat-button routerLink="/cliente/register" class="register-button">Cadastrar</button>

    <button mat-raised-button color="accent" (click)="handleLogin()">Entrar</button>
  </div>

</div>