<html>

<head>
  <title>Lista de Clientes</title>
</head>

<body>
  <!-- Daily Activity -->
  <mat-card class="w-100">
    <mat-card-content>
      <h4 class="mb-56">Lista de Clientes</h4>
      <div class="card-body">
        <form>
          <h4 class="mb-32">Pesquisar</h4>
          <mat-form-field class="me-24 fs-16" appearance="outline">
            <mat-label>Nome:</mat-label>
            <input matInput type="text" placeholder=" Cliente 1" #nome>
          </mat-form-field>
          <button mat-button (click)="pesquisar(nome.value)" class="btn me-8 btn-info fw-normal">Pesquisar</button>
          <button mat-button (click)="top5()" class="btn btn-info fw-normal">Top 5
            usuários</button>
        </form>
      </div>
      <div class="table-responsive">
        <table mat-table [dataSource]="!filtrando ? dataSource:top5Clientes" class="text-nowrap w-100">
          <!-- CPF Column -->
          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium op-1">{{ element.cpf }}</p>
            </td>
          </ng-container>
          <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">
              <a class="mb-0 fw-medium" href="#" [routerLink]="['/gerente/consulta-cliente',element.id]">{{
                element.nome}}</a>
            </td>
          </ng-container>
          <!-- Cidade Column -->
          <ng-container matColumnDef="cidade">
            <th mat-header-cell *matHeaderCellDef>Cidade</th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium op-1">{{ element?.endereco?.cidade }}</p>
            </td>
          </ng-container>
          <!-- Estado Column -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium op-1">{{ element?.endereco?.estado }}</p>
            </td>
          </ng-container>
          <!-- Salario Column -->
          <ng-container matColumnDef="saldo">
            <th mat-header-cell *matHeaderCellDef>Saldo</th>
            <td mat-cell *matCellDef="let element">
              <p class="mb-0 fw-medium op-1">{{element?.conta?.balance | currency : 'R$'}}</p>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="colunas"></tr>
          <tr mat-row *matRowDef="let row; columns: colunas"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</body>

</html>