<div class="d-flex w-100 statements">
    <div [formGroup]="datepicker" class="date-selection">
        <mat-form-field appearance="fill">
            <mat-label>Selecione o período</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Início">
                <input matEndDate (dateChange)="dateChangeHandler()" formControlName="end" placeholder="Fim">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="datepicker.controls['start'].hasError('matStartDateInvalid')">Início inválido</mat-error>
            <mat-error *ngIf="datepicker.controls['end'].hasError('matEndDateInvalid')">Fim inválido</mat-error>
        </mat-form-field>
    </div>

    <h1>Extrato</h1>
    <div *ngIf="statement!=null">
        <!-- Mesmo que no início seja false, assim que assumir true, renderiza. É reativo.-->
        <mat-card class="d-flex card" *ngFor="let day of statement.days">
            <mat-card-content class="d-flex card-content">
                <h3>{{day.date.toLocaleDateString('pt-BR')}}</h3>
                <h4 class="mb-30">Consolidado: R$ {{day.consolidatedValue | number:'1.0-2' }}</h4>
                <div class="d-flex align-items-center content-line"
                    [style.background-color]="transaction.getTypeColor(false)"
                    [style.border-color]="transaction.getTypeColor(true)" *ngFor="let transaction of day.transactions">
                    <div>
                        <span class="fs-25 me-20">{{transaction.typeName}}</span>
                        <span class="fs-20 me-20">{{ transaction.datetime.toLocaleTimeString('pt-BR') }}</span>
                        <span class="fw-bold fs-20">{{ transaction.value | currency: 'BRL': 'symbol': '1.0-2'}}</span>
                    </div>
                    <div *ngIf="transaction.type == 'transfer'">
                        <span
                            [textContent]="transaction.transferDetails['type'] == 'income' ? 'Recebido de ' : 'Enviado para '"></span>
                        <span class="fw-bold">{{ transaction.transferDetails['agent'] }}</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>