.statements {
    min-width: 30vw;
    width: 100%;
}

.card-content{
    text-align: center;
}

.content-line{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.statements{
    padding: 0;
    margin: 0;
    justify-items: center;
    align-items: center;
    flex-flow: column;
}

.card{
    min-width: 300px;
}