<!-- Cards -->
<div class="full" fxLayout="row wrap" fxLayoutGap="30px grid">
  <div fxFlex.md="80%" fxFlex.lg="80%" fxFlex.xl="80%" fxFlex.sm="80%">
    >
    <mat-card class="overflow-hidden " style="min-width: 500px">
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium mb-30">{{gerente?.nome}}</p>
          <strong class="cpf">CPF:</strong>
          <p class="op-7 mb-30">{{gerente?.cpf}}</p>
          <strong class="email">EMAIL:</strong>
          <p class="op-7 mb-30">{{gerente?.email}}</p>
          <strong class="email">CLIENTES:</strong>
          <p class="op-7 mb-30">{{gerente?.numClientes}}</p>
          <div class="botaos mt-20">

            <button mat-button class="btn-info fw-normal mt-4"
              [routerLink]="['/admin/gerente/' + gerente?.email]">Update</button>
            <button mat-button class="btn-danger fw-normal mt-4" (click)="deletarGerente(gerente.id)">Delete</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>