.full {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.cpf {
  padding: 10px;
  font-size: 20px;
}
.email {
  padding: 10px;
  font-size: 20px;
}

.op-7 {
  padding: 10px;
  font-size: 20px;
}

.fs-18 {
  padding: 10px;
  font-size: 30px;
}

.btn-info {
  margin: 8px 8px 8px 8px;
}
